# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# Office-midlertidige filer
~$*

# Miljøvariabler
.env
